body{
  
    margin:0px;
      
  }
  section{
  display: inline-block;
  
  }
  
  h1{font-family:red serif;
    font-size: 60PX;
    color:red serif;
    padding: 0px;
    margin: 0px;
    text-shadow: 2px 2px 5px red;
    display:block;
  }